.card {
    display: flex;
    width: 360px;
    height: 640px;
    padding: 4px;
    flex-direction: column;
    align-items: flex-start;
}

.header {
    display: flex;
    padding: 20px 20px 24px 20px;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    font-family: "Poppins";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    text-transform: capitalize;
    color: white;
}

.pokemonImg {
    display: flex;
    padding: 59px 20px;
    justify-content: space-between;
    align-items: flex-end;
    flex: 1 0 0;
    align-self: stretch;

    .img {

        display: flex;
        width: 230px;
        height: 230px;
        flex-shrink: 0;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 70px;
        top: 40px;
    }
}
.types {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-self: stretch;
    align-items: center;
    flex-shrink: 0;
    text-transform: capitalize;
    border-radius: 10px;
}

.cardImg {
    width: 208px;
    height: 208px;
    opacity: 0.1;
    position: absolute;
    right: 8px;
    top: 8px;
}
.abilities {
    text-transform: capitalize;
}
.button {
    border: none;
    background-color: transparent;
    z-index: 1;
}

.cardDetails {
    display: flex;
    height: 412px;
    font-size: 12px;
    padding: 56px 20px 20px 20px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    flex-shrink: 0;
    align-self: stretch;
    border-radius: 8px;
    background: white;
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.25) inset;
}

.info {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

/* POKEMON TYPE COLORS */

.fire {
    background-color: #F57D31;
}

.water {
    background-color: #6493EB;
}

.grass {
    background-color: #74CB48;
}

.electric {
    background-color: #EED535;
}

.normal {
    background-color: #AAA67F;
}

.ghost {
    background-color: #70559B;
}

.bug {
    background-color: #A7B723;
}

.ice {
    background-color: #9AD6DF;
}

.fighting {
    background-color: #C12239;
}

.poison {
    background-color: #A43E9E;
}

.ground {
    background-color: #DEC16B;
}

.flying {
    background-color: #A891EC;
}

.psychic {
    background-color: #FB5584;
}

.rock {
    background-color: #B69E31;
}

.dragon {
    background-color: #7037FF;
}

.dark {
    background-color: #75574C;
}

.fairy {
    background-color: #E69EAC;
}

.steel {
    background-color: #B7B9D0;
}

.electric {
    background-color: #F9CF30;
}

.flying {
    background-color: #3dc7ef;
}