.home {
    display: flex;
    flex-direction: column;
    width: 360px;
    height: 640px;
    padding: 4px;
    flex-direction: column;
   
    header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    width: fit-content;
    cursor: pointer;
    gap: 1rem;



        span {
            color: #212121;
            font-size: 24px;
            line-height: 32px;
            font-weight: 700;
        }

        button {
           border: none;
           background-color: transparent;
            
        }
    }

}


.headerDiv {
            width: fit-content;
            cursor: pointer;
            display: flex;
            flex-direction: row;
            gap: 1rem;
        }
input {
    display: flex;
    padding: 5px 10px 5px 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid #959292;
    flex-direction: row;
    gap: 8px;
    flex: 1 0 0;
    width: 150px;
}

.pokeball {
    width: 24px;
    height: 24px;
}